@import "tailwindcss";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #111827;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
